@model ATAarhitektonskiStudio.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container small pt-4 pb-3 mb-5">
    <h1>ATA Arhitektonski Studio</h1>
    <div class="about-ata">@Html.Raw(Model.AboutWriteUp)</div>
</div>