@model ATAarhitektonskiStudio.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container small pt-4">
    <h1>ATA Architectural Studio</h1>
    <div class="about-ata">@Html.Raw(Model.AboutWriteUpEng)</div>
</div>