@model ATAarhitektonskiStudio.ViewModels.HomepageViewModel
@using ATAarhitektonskiStudio.ViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <style>
        .menu-container {
            position: fixed !important;
            top: 0;
            right: 0;
            left: 0;
        }
    </style>
}

<div class="owl-carousel projects-carousel">
    @foreach (var item in Model.hpProjects)
    {
        <div class="banner-project">
            <img src="~/@item.PreviewImage.FilePath/@item.PreviewImage.FileName">
            <div class="project-name text-uppercase">@item.Name</div>
        </div>
    }
</div>

<div class="banner-text">
    <h1>Mi smo <img src="~/Content/images/logo.png" /> arhitektonski studio</h1>
    <h2>koji projektuje lijepe i logične zgrade</h2>
    <p>
        Naš pristup prioritira procese stvaranja, a ne određeni stil, kako bi razvili  arhitekturu prikladnu datom mjestu, ljudima/klijentu. Koristimo naše napore kako bi nastali objekti voljeni od strane
        svojih vlasnika, jednostavni za korištenje, ekonomični za održavanje.
    </p>
</div>

<div class="loader-container">
    <div class="loader-content">
        <img class="animate-flicker" src="~/Content/images/logo-white.png" />
        <h1 id="loader-text" class="text-center text-uppercase text-white mt-3"><b>ATA</b> Arhitektonski studio</h1>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeit/5.10.6/typeit.min.js"></script>
    @Scripts.Render("~/bundles/homeScript")
}