@model ATAarhitektonskiStudio.ViewModels.HomepageViewModel
@using ATAarhitektonskiStudio.ViewModels

<div class="container">
    <div class="row banner-text">
        @if (GlobalHelper.CurrentCulture == "en")
        {
            <div class="col-sm-5">
                <div class="we-are">WE ARE</div>
            </div>
            <div class="col-sm-7 writup-cont">
                <div class="writup">@Html.Raw(Model.TextEng)</div>
            </div>
        }
        else
        {
            <div class="col-sm-5">
                <div class="we-are">MI SMO</div>
            </div>
            <div class="col-sm-7 writup-cont">
                <div class="writup">@Html.Raw(Model.Text)</div>
            </div>
        }
    </div>
</div>
<img class="img-bottom" src="~/Content/images/hp-bottom-img.jpg" alt="Ata Arhitektonski Studio" />

<div class="loader-container">
    <div class="loader-content">
        <img id="logo-start" src="~/Content/images/logo2-black.png" />
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/homeScript")
}